@import 'mixins';
@import 'header';

.footer {
    padding: 20px;
    background-color: $primary-color;
    color: white;
    text-align: center;
  
    &__logo {
      @extend header__logo !optional;
      @include flex-center;
      margin: 0 auto;
      gap: 20px;
    }
  
    &__links {
      @include flex-center;
      margin: 0 auto;
      gap: 20px;
  
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
  
        &__item {
          margin: 0 10px;
  
          &__link {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
  
            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }
  
    &__contact {
        @include flex-evenly;
        align-items: stretch;

    
      &__address {
        margin: 20px 0;
        padding-right: 200px;
        
      }
  
      &__social-links {
        gap: 10px;
        @include flex-center;
        justify-content: center;

        & img {
          margin: 0 10px;
        }
      }
  
      &__communication {
        display: flex;
        margin: 20px 0;
  
        & img {
          margin: 0 10px;
        }
      }
    }
  }
  