@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #211F2A;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
}

.pie-chart-section .flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pie-chart-section .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-col-break-960px {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  .flex-col-break-960px {
    flex-direction: column;
  }
}

.header {
  border-bottom: 2px groove rgb(219, 213, 213);
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.header__nav__item {
  display: inline-block;
  margin: 0 10px;
}
.header__nav__link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #211F2A;
  transition: transform 0.3s ease;
}
.header__nav__link:hover {
  color: #f2f2f2;
  background-color: rgba(178, 77, 22, 0.5);
  border-color: rgba(178, 77, 22, 0.5);
  transform: scale(1.1);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: #572626;
  font-size: 2rem;
  margin: 0;
  gap: 20px;
}
.header__logo__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.header__logo__text {
  padding: 20px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}
.hero__container {
  position: relative;
}
.hero__image {
  width: 80%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border: 1px solid;
  box-shadow: 2px 6px 10px #211F2A;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__image {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .hero__image {
    width: 80%;
  }
}
.hero__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 20px;
}
.hero__nav-arrow {
  border: none;
  color: #572626;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
.hero__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.hero__dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #572626;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.hero__dot--active {
  background-color: #717171;
}
.hero__title {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f4f4f4;
}
.call-to-action__title {
  font-size: 2em;
  margin-bottom: 10px;
}
.call-to-action__subtitle {
  font-size: 1.5em;
}
.call-to-action__text {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}
.call-to-action__form {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}
.call-to-action__form__email {
  width: 70%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.call-to-action__form__button {
  background-color: #ff6600;
}
.call-to-action__form__button:hover {
  background-color: #662900;
}

.call-to-action__button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.call-to-action__button:hover {
  background-color: #e65500;
}

.pie-chart-section .flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pie-chart-section .flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-col-break-960px {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  .flex-col-break-960px {
    flex-direction: column;
  }
}

.pie-chart-section {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pie-chart-section__container {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  margin-right: 30px;
  overflow: hidden;
}
.pie-chart-section__container__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.pie-chart-section__container__image img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .pie-chart-section__container__image {
    width: 100%;
  }
}
.pie-chart-section__info {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  gap: 20px;
}
.pie-chart-section__info__title {
  font-size: 2em;
  margin-bottom: 10px;
}
.pie-chart-section__info__text {
  font-size: 1.2em;
  color: #555;
}
.pie-chart-section__text-large {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
}
.pie-chart-section__button {
  padding: 10px 20px;
}
.pie-chart-section .flex-between {
  padding-top: 40px;
}
.pie-chart-section .flex-row {
  padding-top: 40px;
}

.header {
  border-bottom: 2px groove rgb(219, 213, 213);
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.header__nav__item {
  display: inline-block;
  margin: 0 10px;
}
.header__nav__link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 15px;
  color: #211F2A;
  transition: transform 0.3s ease;
}
.header__nav__link:hover {
  color: #f2f2f2;
  background-color: rgba(178, 77, 22, 0.5);
  border-color: rgba(178, 77, 22, 0.5);
  transform: scale(1.1);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: #572626;
  font-size: 2rem;
  margin: 0;
  gap: 20px;
}
.header__logo__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.header__logo__text {
  padding: 20px;
}

.footer {
  padding-top: 20px;
  background-color: #572626;
  color: white;
  text-align: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
  gap: 20px;
}
.footer__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.footer__text {
  padding: 20px;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  font-size: 1.25em;
  padding-bottom: 40px;
}
.footer__links__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__links__list__item {
  margin: 0 10px;
}
.footer__links__list__item__link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__links__list__item__link:hover {
  color: #ff6600;
}
.footer__contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: stretch;
  background-color: #B24D16;
}
.footer__contact__address {
  margin: 20px 0;
  padding-right: 200px;
}
.footer__contact__social-links {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.footer__contact__social-links img {
  margin: 0 10px;
}
.footer__contact__communication {
  display: flex;
  margin: 20px 0;
}
.footer__contact__communication img {
  margin: 0 10px;
}

/*# sourceMappingURL=styles.css.map */
