@import "variables";
@import "mixins";
@import "layout";

.call-to-action {
	@include flex-center;
  display: flow;
	text-align: center;
	margin: 20px 0;
	padding: 10px;
	background-color: $light-background;

	&__title {
		font-size: 2em;
		margin-bottom: 10px;

    @media (max-width: 768px) { 
      font-size: $font-size-base;
    }
	}

	&__text {
		font-size: 1.1em;
		color: #555;
		margin-bottom: 10px;
	}

  &__promo {
		display: inherit;
		width: 100%;
		padding-top: 10px;
    clear: both;
  }

}
