@import "variables";
@import "mixins";
@import "layout";

.form-container {
	@include flex-center;
	width: 100%;
    padding-bottom: 60px;

    &__subtitle {
		font-size: 1.5em;
	}

	&__form {
		@include flex-col;
        justify-items: center;
		padding-top: 10px;
	}

	&__form-item {
		@include flex-col;
        justify-items: center;

		&__input {
			padding: 5px;
			margin: 0.5em 0 1em 0;
			border-radius: 5px;
			font-size: var(--$font-size-small);
			border: 1px solid var(--$primary-color);

			&:focus {
				outline: none;
				border-color: var(--$accent-color);
			}
		}
	}

	&__button {
		@extend %button;
        padding-right: 20px;
	}
}

.flex-center {
    @include flex-center;
    gap: 20px;
}

