@import "variables";
@import 'layout';
@import "mixins";

.header {
	border-bottom: 2px groove rgb(219, 213, 213);

	&__container {
		@include flex-around;
	}

	&__nav {
		&__list {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: flex-end;
		}

		&__item {
			display: inline-block;
			margin: 0 10px;
		}

		&__link {
			display: inline-block;
			padding: 5px 10px;
			text-decoration: none;
			border-radius: 15px;
			color: $secondary-color;
			transition: transform 0.3s ease;

			&:hover {
				color: #f2f2f2;
				background-color: $hover-color;
				border-color: $hover-color;
				transform: scale(1.1);
			}
		}
	}

	&__logo {
		@extend %logo;
		color: $primary-color;
		
		&__img {
			width: 200px;
			height: 200px;
			object-fit: contain;
		}

		&__text {
			padding: 20px;
		}
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
  }