@import "variables";
@import 'layout';
@import "mixins";

.header {
	border-bottom: 2px groove rgb(219, 213, 213);

	&__container {
		@include flex-around;
	}

	&__nav {
		&__list {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: flex-end;
		}

		&__item {
			display: inline-block;
			margin: 0 10px;
		}

		&__link {
			display: inline-block;
			padding: 5px 10px;
			text-decoration: none;
			border-radius: 15px;
			color: $secondary-color;
			transition: transform 0.3s ease;

			&:hover {
				color: $light-background;
				background-color: $hover-color;
				transform: scale(1.1);
			}
		}
	}

	&__logo {
		text-align: center;
		@include logo($primary-color);
		
		&__img {
			width: 200px;
			height: 200px;
			object-fit: contain;
		}

		&__text {
			padding: 20px;
			@include logo-text($primary-color, none);
		}

		@media (max-width: 768px) {
			&__text {
				font-size: $font-size-small;
			}
		}
	
	}
}

.show-on-small-screen{
	/* Usage justifié de !important */
	display: none !important;
}



@media screen and (max-width: 960px) {
	.hide-on-small-screen{
		display: none !important;
	}
	.show-on-small-screen{
		display: block !important;
	}
  }

