@import "variables";
@import "mixins";

.hero {
	text-align: center;
	margin-bottom: 40px;

	&__container {
		position: relative;
	}

	&__image {
		width: 90%;
		height: auto;
		max-height: 500px;
		object-fit: cover;
		border: 1px solid;
		box-shadow: 2px 6px 10px $secondary-color;
		margin: 0 auto;
		@include flex-center;

    &--width-large {
			width: 90%;
		}

		&--width-medium {
			width: 80%;
		}

		&--width-small {
			width: 70%;
		}

		@media (max-width: 768px) {
			width: 100%;
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			width: 70%;
		}

		@media (min-width: 1024px) {
			width: 80%;
		}
	}

	&__navigation {
		@include flex-between;
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		padding: 0 20px;

		@media (max-width: 768px) {
			display: none !important;
		}
	}

	&__nav-arrow {
		border: none;
		color: $secondary-color;
		font-size: 24px;
		padding: 10px;
		cursor: pointer;
	}

	&__dots {
		@include flex-center;
		padding-top: 20px;
	}

	&__dot {
		height: 16px;
		width: 16px;
		margin: 0 5px;
		color: $secondary-color;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&--active {
			background-color: $light-background;
		}
	}

	&__title {
		font-size: 2.5em;
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: center;

		&--small {
			font-size: $font-size-small;
		}

		&--medium {
			font-size: $font-size-medium;
		}

		@media (max-width: 768px) {
			&--small,
			&--medium,
			&--large {
				font-size: $font-size-small;
			}
		}
	}
}

.ally-button {
	border: none;
}
