@import "mixins";
@import "variables";

%flex-between {
	@include flex-between;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-center {
	@include flex-center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

%flex-col {
	display: flex;
	flex-direction: column;
}

%flex-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

%button {
	text-decoration: none;
	display: inline-block;
	padding: $btn-pad-std;
	border-radius: $btn-border-radius;
  background-color: $tertiary-color;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-color;
    border-color: darken($accent-color, 30%);
    transform: scale(1.1);
  }
}

.flex-col-break-960px {
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 960px) {
		flex-direction: column;
	}
}
