@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
	width: 100%;
}
